# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Untracked Directories
/Debug FB2K/*
/Debug/*
/Release FB2K/*
/Release/*
/x64/Debug FB2K/*
/x64/Debug/*
/x64/ReleaseFoobar/*
/x64/Release FB2k/*
/x64/Release/*
/.vs/*
/packages/*

forbiddenKnowledge